.input-control.success input{
    border-color: green;
  }
  
  .input-control.error input{
    border-color: rgb(255, 0, 0);
  }
  
  .input-control input:focus{
    outline: 0;
  }
  
  .input-control .error{
    border-color: rgb(255, 38, 0);
    font-size: 10px;
    height: 13px;
  }